In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import time
from datetime import datetime
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from urllib.request import urlopen
from bs4 import BeautifulSoup
from requests import get
import time
import os
import glob

In [2]:
# DEBUG = True
DEBUG = False

In [3]:
interest_rate = 0.0415
ng_tax_discount = 0.375
house_land_value_ratio = 0.85
unit_land_value_ratio = 0.5

In [4]:
def land_tax_calc(land_value):
    if land_value < 250000:
        land_tax = 0

    if land_value >= 250000 and land_value < 600000:
        land_tax = 275 + 0.002 * (land_value - 250000)

    if land_value >= 600000 and land_value < 1000000:
        land_tax = 975 + 0.005 * (land_value - 600000)

    if land_value >= 1000000 and land_value < 1800000:
        land_tax = 2975 + 0.008 * (land_value - 1000000)

    if land_value >= 1800000 and land_value < 3000000:
        land_tax = 9375 + 0.013 * (land_value - 1800000)

    if land_value >= 3000000:
        land_tax = 24975 + 0.0225 * (land_value - 3000000)       
    
    return land_tax

In [5]:
df_suburb = pd.read_csv('australian_postcodes.csv')

In [6]:
df_vic_suburb = df_suburb[df_suburb['state']=='VIC']

In [7]:
df_vic_suburb.head(3)

,postcode,locality,state,long,lat,dc,type
6007,3000,MELBOURNE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area
6008,3001,MELBOURNE,VIC,0.000000,0.000000,CITY MAIL PROCESSING CENTRE,Post Office Boxes
6009,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,CITY DELIVERY CENTRE,Delivery Area

In [8]:
df_vic_suburb["locality"] = df_vic_suburb["locality"].apply(lambda x: x.replace('"',''))

C:\Users\Kai\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df_vic_suburb.loc[:,'locality_dash'] = df_vic_suburb['locality'].apply(lambda x: str(x).replace(' ', '-'))

C:\Users\Kai\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Kai\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
df_vic_suburb['suburb_postcode'] = df_vic_suburb.agg(lambda x: f"{x['locality_dash']}-{x['postcode']}-vic", axis=1)

C:\Users\Kai\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df_vic_suburb.head(5)

,postcode,locality,state,long,lat,dc,type,locality_dash,suburb_postcode
6007,3000,MELBOURNE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,MELBOURNE,MELBOURNE-3000-vic
6008,3001,MELBOURNE,VIC,0.000000,0.000000,CITY MAIL PROCESSING CENTRE,Post Office Boxes,MELBOURNE,MELBOURNE-3001-vic
6009,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,CITY DELIVERY CENTRE,Delivery Area,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic
6010,3003,WEST MELBOURNE,VIC,144.949592,-37.810871,CITY DELIVERY CENTRE,Delivery Area,WEST-MELBOURNE,WEST-MELBOURNE-3003-vic
6011,3004,MELBOURNE,VIC,144.970161,-37.844246,CITY DELIVERY CENTRE,Delivery Area,MELBOURNE,MELBOURNE-3004-vic

In [12]:
# df_vic_suburb_sample = df_vic_suburb[df_vic_suburb['postcode']==3166]
df_vic_suburb_sample = df_vic_suburb

In [13]:
df_vic_suburb_sample.head(3)

,postcode,locality,state,long,lat,dc,type,locality_dash,suburb_postcode
6007,3000,MELBOURNE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,MELBOURNE,MELBOURNE-3000-vic
6008,3001,MELBOURNE,VIC,0.000000,0.000000,CITY MAIL PROCESSING CENTRE,Post Office Boxes,MELBOURNE,MELBOURNE-3001-vic
6009,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,CITY DELIVERY CENTRE,Delivery Area,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic

In [14]:
df_vic_suburb_analysis_sample = df_vic_suburb_sample[['postcode', 'locality', 'locality_dash', 'suburb_postcode', 'lat', 'long']].copy()

In [15]:
df_vic_suburb_analysis_sample.head(3)

,postcode,locality,locality_dash,suburb_postcode,lat,long
6007,3000,MELBOURNE,MELBOURNE,MELBOURNE-3000-vic,-37.817403,144.956776
6008,3001,MELBOURNE,MELBOURNE,MELBOURNE-3001-vic,0.000000,0.000000
6009,3002,EAST MELBOURNE,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic,-37.818517,144.982207

In [16]:
all_num_bedroom = [2, 3, 4]
all_list_type = ['buy', 'rent']
all_property_type = ['house', 'unit']

for num_bedroom in all_num_bedroom:
    for list_type in all_list_type:
        for property_type in all_property_type:
            if property_type == 'house' and list_type == 'buy':
                df_vic_suburb_analysis_sample['{}-bed-{}-{}'.format(num_bedroom, property_type, list_type)] = np.inf
            
            if property_type == 'unit' and list_type == 'buy':
                df_vic_suburb_analysis_sample['{}-bed-{}-{}'.format((num_bedroom-1), property_type, list_type)] = np.inf
            
            if property_type == 'house' and list_type == 'rent':
                df_vic_suburb_analysis_sample['{}-bed-{}-{}'.format(num_bedroom, property_type, list_type)] = 0
            
            if property_type == 'unit' and list_type == 'rent':
                df_vic_suburb_analysis_sample['{}-bed-{}-{}'.format((num_bedroom-1), property_type, list_type)] = 0

In [17]:
df_vic_suburb_analysis_sample

,postcode,locality,locality_dash,suburb_postcode,lat,long,2-bed-house-buy,1-bed-unit-buy,2-bed-house-rent,1-bed-unit-rent,3-bed-house-buy,2-bed-unit-buy,3-bed-house-rent,2-bed-unit-rent,4-bed-house-buy,3-bed-unit-buy,4-bed-house-rent,3-bed-unit-rent
6007,3000,MELBOURNE,MELBOURNE,MELBOURNE-3000-vic,-37.817403,144.956776,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6008,3001,MELBOURNE,MELBOURNE,MELBOURNE-3001-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6009,3002,EAST MELBOURNE,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic,-37.818517,144.982207,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6010,3003,WEST MELBOURNE,WEST-MELBOURNE,WEST-MELBOURNE-3003-vic,-37.810871,144.949592,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6011,3004,MELBOURNE,MELBOURNE,MELBOURNE-3004-vic,-37.844246,144.970161,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6012,3004,ST KILDA ROAD CENTRAL,ST-KILDA-ROAD-CENTRAL,ST-KILDA-ROAD-CENTRAL-3004-vic,-37.844246,144.970161,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6013,3004,ST KILDA ROAD MELBOURNE,ST-KILDA-ROAD-MELBOURNE,ST-KILDA-ROAD-MELBOURNE-3004-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6014,3005,WORLD TRADE CENTRE,WORLD-TRADE-CENTRE,WORLD-TRADE-CENTRE-3005-vic,-37.824608,144.950858,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6015,3006,SOUTH WHARF,SOUTH-WHARF,SOUTH-WHARF-3006-vic,144.952074,144.952074,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6016,3006,SOUTHBANK,SOUTHBANK,SOUTHBANK-3006-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6017,3008,DOCKLANDS,DOCKLANDS,DOCKLANDS-3008-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6018,3010,UNIVERSITY OF MELBOURNE,UNIVERSITY-OF-MELBOURNE,UNIVERSITY-OF-MELBOURNE-3010-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6019,3011,FOOTSCRAY,FOOTSCRAY,FOOTSCRAY-3011-vic,-37.807101,144.907953,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6020,3011,SEDDON,SEDDON,SEDDON-3011-vic,-37.807101,144.907953,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6021,3011,SEDDON WEST,SEDDON-WEST,SEDDON-WEST-3011-vic,-37.807101,144.907953,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6022,3012,BROOKLYN,BROOKLYN,BROOKLYN-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6023,3012,KINGSVILLE,KINGSVILLE,KINGSVILLE-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6024,3012,KINGSVILLE WEST,KINGSVILLE-WEST,KINGSVILLE-WEST-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6025,3012,MAIDSTONE,MAIDSTONE,MAIDSTONE-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6026,3012,TOTTENHAM,TOTTENHAM,TOTTENHAM-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6027,3012,WEST FOOTSCRAY,WEST-FOOTSCRAY,WEST-FOOTSCRAY-3012-vic,-37.807135,144.861162,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6028,3013,YARRAVILLE,YARRAVILLE,YARRAVILLE-3013-vic,-37.814183,144.888686,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6029,3013,YARRAVILLE WEST,YARRAVILLE-WEST,YARRAVILLE-WEST-3013-vic,-37.814183,144.888686,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6030,3015,NEWPORT,NEWPORT,NEWPORT-3015-vic,-37.838242,144.880556,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6031,3015,SOUTH KINGSVILLE,SOUTH-KINGSVILLE,SOUTH-KINGSVILLE-3015-vic,-37.838242,144.880556,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6032,3015,SPOTSWOOD,SPOTSWOOD,SPOTSWOOD-3015-vic,-37.838242,144.880556,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6033,3016,WILLIAMSTOWN,WILLIAMSTOWN,WILLIAMSTOWN-3016-vic,-37.863743,144.888461,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6034,3016,WILLIAMSTOWN NORTH,WILLIAMSTOWN-NORTH,WILLIAMSTOWN-NORTH-3016-vic,-37.863743,144.888461,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6035,3018,ALTONA,ALTONA,ALTONA-3018-vic,-37.861720,144.812736,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
6036,3018,SEAHOLME,SEAHOLME,SEAHOLME-3018-vic,-37.861720,144.812736,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17697,8100,MELBOURNE,MELBOURNE,MELBOURNE-8100-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17698,8101,MELBOURNE,MELBOURNE,MELBOURNE-8101-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17699,8102,MELBOURNE,MELBOURNE,MELBOURNE-8102-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17700,8103,MELBOURNE,MELBOURNE,MELBOURNE-8103-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17701,8107,MELBOURNE,MELBOURNE,MELBOURNE-8107-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17702,8108,MELBOURNE,MELBOURNE,MELBOURNE-8108-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17704,8111,MELBOURNE,MELBOURNE,MELBOURNE-8111-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17713,8120,MELBOURNE,MELBOURNE,MELBOURNE-8120-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17734,8205,MELBOURNE,MELBOURNE,MELBOURNE-8205-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17870,8383,MELBOURNE,MELBOURNE,MELBOURNE-8383-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17871,8386,MELBOURNE,MELBOURNE,MELBOURNE-8386-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17872,8388,MELBOURNE,MELBOURNE,MELBOURNE-8388-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17874,8390,MELBOURNE,MELBOURNE,MELBOURNE-8390-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17875,8393,MELBOURNE,MELBOURNE,MELBOURNE-8393-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17876,8394,MELBOURNE,MELBOURNE,MELBOURNE-8394-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17877,8396,MELBOURNE,MELBOURNE,MELBOURNE-8396-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17878,8399,MELBOURNE,MELBOURNE,MELBOURNE-8399-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17892,8500,NORTH MELBOURNE,NORTH-MELBOURNE,NORTH-MELBOURNE-8500-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17893,8507,CARLTON,CARLTON,CARLTON-8507-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17895,8511,SUNSHINE WEST,SUNSHINE-WEST,SUNSHINE-WEST-8511-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17948,8538,BRUNSWICK,BRUNSWICK,BRUNSWICK-8538-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17951,8557,FITZROY,FITZROY,FITZROY-8557-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17952,8576,IVANHOE,IVANHOE,IVANHOE-8576-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17970,8622,HAWTHORN,HAWTHORN,HAWTHORN-8622-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17971,8626,CAMBERWELL,CAMBERWELL,CAMBERWELL-8626-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17972,8627,CAMBERWELL,CAMBERWELL,CAMBERWELL-8627-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
17973,8659,EASTERN MC,EASTERN-MC,EASTERN-MC-8659-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
18087,8785,DANDENONG,DANDENONG,DANDENONG-8785-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
18096,8865,SOUTH MELBOURNE,SOUTH-MELBOURNE,SOUTH-MELBOURNE-8865-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0
18097,8873,PORT MELBOURNE,PORT-MELBOURNE,PORT-MELBOURNE-8873-vic,0.000000,0.000000,inf,inf,0,0,inf,inf,0,0,inf,inf,0,0

In [18]:
for index, row in df_vic_suburb_analysis_sample.iterrows():
    postcode = row['postcode']
    suburb_dash = row['locality_dash']
    suburb = row['locality']
    suburb_postcode = str(suburb_dash) + '-' + str(postcode) + '-vic'
    if DEBUG:
        print("Retrieve Data for Suburb: {}".format(suburb_postcode))
        
    suburb_profile_file = os.path.join(os.getcwd(), "suburb_profile_REA", "{}.txt".format(suburb_postcode))
    
    if os.path.exists(suburb_profile_file):
        if DEBUG:
            print("{} File Exists".format(suburb_postcode))
        continue
    
    url = 'https://www.realestate.com.au/neighbourhoods/{}'.format(suburb_postcode)
    headers = {"user-agent": "Mizilla/5.0"}
    response = get(url, headers=headers)

    file = open(suburb_profile_file, "w")
    file.write(response.text)
    file.close()

#     break
    
    time.sleep(1)

In [19]:
if DEBUG:
    display(df_vic_suburb_analysis_sample['suburb_postcode'].head(3))

In [20]:
suburb_profile_file_list = glob.glob(os.path.join(os.getcwd(), "suburb_profile_REA/*.txt"))

for suburb_postcode in df_vic_suburb_analysis_sample['suburb_postcode']:
    
    suburb_profile_file = os.path.join(os.getcwd(), "suburb_profile_REA", "{}.txt".format(suburb_postcode))
    
    if DEBUG:
        print("Extract Information from File: '{}'".format(suburb_profile_file))

    if os.path.exists(suburb_profile_file):
        if DEBUG:
            print("{} File Exists".format(suburb_postcode))        
        file = open(suburb_profile_file, "r")
    else:
        if DEBUG:
            print("{} File DOESN'T Exists".format(suburb_postcode))
        continue

    test_txt = file.read()
    html_soup = BeautifulSoup(test_txt, 'html.parser')
    
    if 'page is not found' in str(html_soup):
        if DEBUG:        
            print("PAGE NOT FOUND, SKIP......")
        continue
    
    suburb_postcode = suburb_profile_file.split('\\')[-1].rstrip('.txt')
    
    all_num_bedroom = [2, 3, 4]
    all_list_type = ['buy', 'rent']
    all_property_type = ['house', 'unit']
    
    for num_bedroom in all_num_bedroom:
        for list_type in all_list_type:
            for property_type in all_property_type:
                try:
                    if property_type == 'house':
                        num_bedroom_ajusted = num_bedroom
                        info_list = [i.text for i in html_soup.find_all('a') if list_type in str(i) and 'townhouse-house-with-{}-bedroom'.format(num_bedroom) in str(i)][0].split('$')
                    if property_type == 'unit':
                        num_bedroom_ajusted = num_bedroom-1
                        info_list = [i.text for i in html_soup.find_all('a') if list_type in str(i) and 'unit-apartment-with-{}-bedroom'.format(num_bedroom_ajusted) in str(i)][0].split('$')

                    if len(info_list) == 2:
                        num = info_list[1].replace(',','').rstrip(' PW')
                        if DEBUG:
                            print(" [INFO] {} of {} Bedroom {}: {}".format(list_type, num_bedroom, property_type, num))
                        df_vic_suburb_analysis_sample.loc[df_vic_suburb_analysis_sample['suburb_postcode']==suburb_postcode, '{}-bed-{}-{}'.format(num_bedroom_ajusted, property_type, list_type)] = num
                except:
                    continue

In [21]:
df_vic_suburb_analysis_sample.head(3)

,postcode,locality,locality_dash,suburb_postcode,lat,long,2-bed-house-buy,1-bed-unit-buy,2-bed-house-rent,1-bed-unit-rent,3-bed-house-buy,2-bed-unit-buy,3-bed-house-rent,2-bed-unit-rent,4-bed-house-buy,3-bed-unit-buy,4-bed-house-rent,3-bed-unit-rent
6007,3000,MELBOURNE,MELBOURNE,MELBOURNE-3000-vic,-37.817403,144.956776,inf,337750,640,450,inf,500000,0,610,inf,831500,0,910
6008,3001,MELBOURNE,MELBOURNE,MELBOURNE-3001-vic,0.000000,0.000000,inf,337750,640,450,inf,500000,0,610,inf,831500,0,910
6009,3002,EAST MELBOURNE,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic,-37.818517,144.982207,inf,495000,650,435,inf,748500,923,580,inf,inf,995,950

In [22]:
all_num_bedroom = [2, 3, 4]
all_property_type = ['house', 'unit']

for num_bedroom in all_num_bedroom:
    for property_type in all_property_type:
        if property_type == 'house':
            num_bedroom_ajusted = num_bedroom
        if property_type == 'unit':
            num_bedroom_ajusted = num_bedroom - 1

        df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)] = \
          pd.to_numeric(df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)])
            
        df_vic_suburb_analysis_sample['{}-bed-{}-rent'.format(num_bedroom_ajusted, property_type)] = \
          pd.to_numeric(df_vic_suburb_analysis_sample['{}-bed-{}-rent'.format(num_bedroom_ajusted, property_type)])
            
            
        df_vic_suburb_analysis_sample['{}-bed-{}-rent-buy-ratio'.format(num_bedroom_ajusted, property_type)] = \
          df_vic_suburb_analysis_sample['{}-bed-{}-rent'.format(num_bedroom_ajusted, property_type)] * 10000 \
            / df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)]

        df_vic_suburb_analysis_sample['RANK_{}-bed-{}-rent-buy-ratio'.format(num_bedroom_ajusted, property_type)] = \
          df_vic_suburb_analysis_sample['{}-bed-{}-rent-buy-ratio'.format(num_bedroom_ajusted, property_type)].rank(method='first', ascending=False)

        df_vic_suburb_analysis_sample['INTEREST_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          - df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)] * interest_rate
        
        df_vic_suburb_analysis_sample['Yearly_RENT_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          df_vic_suburb_analysis_sample['{}-bed-{}-rent'.format(num_bedroom_ajusted, property_type)] * 46 - 3500
        
        df_vic_suburb_analysis_sample['LAND_TAX_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          - df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)].apply(lambda x: land_tax_calc(x * house_land_value_ratio))

        df_vic_suburb_analysis_sample['INVEST_LOSS_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          (df_vic_suburb_analysis_sample['Yearly_RENT_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] \
             + df_vic_suburb_analysis_sample['INTEREST_{}-bed-{}'.format(num_bedroom_ajusted, property_type)]) * (1 - ng_tax_discount)

        df_vic_suburb_analysis_sample['INVEST_LOSS_RATIO_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          df_vic_suburb_analysis_sample['INVEST_LOSS_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] \
          / df_vic_suburb_analysis_sample['{}-bed-{}-buy'.format(num_bedroom_ajusted, property_type)] * 1000
        
        df_vic_suburb_analysis_sample['RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom_ajusted, property_type)] = \
          df_vic_suburb_analysis_sample['INVEST_LOSS_RATIO_{}-bed-{}'.format(num_bedroom_ajusted, property_type)].rank(method='first', ascending=False)

In [23]:
df_vic_suburb_analysis_sample.to_csv('vic_suburb_analysis.csv',index=False)

In [24]:
num_bedroom = 3
property_type = 'house'

cols = [
    'postcode',
    'locality',
    '{}-bed-{}-buy'.format(num_bedroom, property_type),
    '{}-bed-{}-rent'.format(num_bedroom, property_type),
    'INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type),
    'INVEST_LOSS_RATIO_{}-bed-{}'.format(num_bedroom, property_type),
    'RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type),   
]

In [25]:
top_n = 50

df_vic_suburb_analysis_sample[df_vic_suburb_analysis_sample['RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type)] <= top_n][cols]\
  .sort_values(by = 'RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type))

,postcode,locality,3-bed-house-buy,3-bed-house-rent,INVEST_LOSS_3-bed-house,INVEST_LOSS_RATIO_3-bed-house,RANK_INVEST_LOSS_3-bed-house
9353,3943,SORRENTO,1145000.0,1145000,3.288686e+07,28722.152020,1.0
7572,3458,TRENTHAM,605000.0,605000,1.737587e+07,28720.446798,2.0
8599,3707,CORRYONG,156500.0,250,9.407812e+02,6.011382,3.0
6722,3264,TERANG,182500.0,270,8.414062e+02,4.610445,4.0
6851,3300,HAMILTON,200000.0,280,6.750000e+02,3.375000,5.0
7748,3480,DONALD,143000.0,220,4.284375e+02,2.996066,6.0
9221,3888,ORBOST,190000.0,265,5.031250e+02,2.648026,7.0
7289,3380,STAWELL,185000.0,260,4.890625e+02,2.643581,8.0
7470,3418,NHILL,155500.0,230,3.917188e+02,2.519092,9.0
7250,3377,ARARAT,212000.0,280,3.637500e+02,1.715802,10.0
8164,3579,KERANG,163500.0,230,1.842188e+02,1.126720,11.0
7367,3393,WARRACKNABEAL,130000.0,198,1.331250e+02,1.024038,12.0
7792,3490,OUYEN,122500.0,190,9.765625e+01,0.797194,13.0
8984,3842,CHURCHILL,182250.0,245,1.291406e+02,0.708591,14.0
8201,3585,SWAN HILL,258000.0,315,1.768750e+02,0.685562,15.0
8980,3840,MORWELL,179000.0,240,6.968750e+01,0.389316,16.0
8345,3644,COBRAM,245000.0,300,8.281250e+01,0.338010,17.0
8287,3629,MOOROOPNA,235000.0,290,5.468750e+01,0.232713,18.0
7807,3496,RED CLIFFS,240000.0,293,1.125000e+01,0.046875,19.0
9284,3909,KALIMNA,292500.0,340,7.812500e-01,0.002671,20.0
8935,3825,MOE,210000.0,263,-7.312500e+01,-0.348214,21.0
7810,3498,IRYMPLE,322500.0,358,-2.598438e+02,-0.805717,22.0
9139,3875,BAIRNSDALE,269000.0,310,-2.521875e+02,-0.937500,23.0
6896,3305,PORTLAND,235500.0,280,-2.457812e+02,-1.043657,24.0
8295,3630,SHEPPARTON,259000.0,300,-2.803125e+02,-1.082288,25.0
8524,3690,WEST WODONGA,295000.0,328,-4.090625e+02,-1.386653,26.0
8525,3690,WODONGA,300000.0,330,-4.812500e+02,-1.604167,27.0
9105,3862,STRATFORD,265000.0,300,-4.359375e+02,-1.645047,28.0
8427,3672,BENALLA,290000.0,320,-5.093750e+02,-1.756466,29.0
9459,3971,YARRAM,234500.0,270,-5.073438e+02,-2.163513,30.0
7811,3500,MILDURA,295000.0,320,-6.390625e+02,-2.166314,31.0
7999,3550,WHITE HILLS,295000.0,320,-6.390625e+02,-2.166314,32.0
7729,3478,ST ARNAUD,162500.0,210,-3.648438e+02,-2.245192,33.0
6880,3304,HEYWOOD,189500.0,230,-4.901562e+02,-2.586577,34.0
8257,3616,TATURA,263500.0,290,-6.845312e+02,-2.597842,35.0
8529,3691,BARANDUDA,351500.0,360,-9.545312e+02,-2.715594,36.0
8580,3700,TALLANGATTA,255000.0,280,-7.515625e+02,-2.947304,37.0
9148,3875,EASTWOOD,375000.0,375,-1.132812e+03,-3.020833,38.0
9079,3860,MAFFRA,263000.0,285,-8.153125e+02,-3.100048,39.0
6798,3280,WARRNAMBOOL,345000.0,350,-1.073438e+03,-3.111413,40.0
6694,3250,COLAC,320000.0,330,-1.000000e+03,-3.125000,41.0
8245,3612,RUSHWORTH,244500.0,270,-7.667188e+02,-3.135864,42.0
7991,3550,LONG GULLY,270000.0,290,-8.531250e+02,-3.159722,43.0
7496,3435,LANCEFIELD,472500.0,448,-1.562969e+03,-3.307870,44.0
8997,3844,TRARALGON,285000.0,300,-9.546875e+02,-3.349781,45.0
7380,3400,HORSHAM,247000.0,270,-8.315625e+02,-3.366650,46.0
7638,3465,MARYBOROUGH,245000.0,268,-8.371875e+02,-3.417092,47.0
8087,3561,ROCHESTER,250000.0,270,-9.093750e+02,-3.637500,48.0
9288,3909,LAKES ENTRANCE,311000.0,315,-1.197812e+03,-3.851487,49.0
8095,3564,ECHUCA,345000.0,340,-1.360938e+03,-3.944746,50.0

In [26]:
select_suburb = [
    'BERWICK',
    'HUGHESDALE',
    'GLEN IRIS'
]

df_vic_suburb_analysis_sample[df_vic_suburb_analysis_sample['locality'].isin(select_suburb)][cols]\
  .sort_values(by = 'RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type))

,postcode,locality,3-bed-house-buy,3-bed-house-rent,INVEST_LOSS_3-bed-house,INVEST_LOSS_RATIO_3-bed-house,RANK_INVEST_LOSS_3-bed-house
8849,3806,BERWICK,610000.0,380,-7084.37500,-11.613730,295.0
6407,3166,HUGHESDALE,1038500.0,490,-15036.09375,-14.478665,449.0
6359,3146,GLEN IRIS,1630000.0,635,-26209.37500,-16.079371,482.0