In [42]:
import pandas as pd
import gmaps
gmaps.configure(api_key="AIzaSyBxGLE8VpZvkC34tv2bMULPOadYIF89ZxQ") # Your Google API key

In [43]:
df_vic_suburb_analysis = pd.read_csv('vic_suburb_analysis.csv')

In [44]:
df_vic_suburb_analysis.head(3)

,postcode,locality,locality_dash,suburb_postcode,lat,long,2-bed-house-buy,1-bed-unit-buy,2-bed-house-rent,1-bed-unit-rent,...,INVEST_LOSS_RATIO_4-bed-house,RANK_INVEST_LOSS_4-bed-house,3-bed-unit-rent-buy-ratio,RANK_3-bed-unit-rent-buy-ratio,INTEREST_3-bed-unit,Yearly_RENT_3-bed-unit,LAND_TAX_3-bed-unit,INVEST_LOSS_3-bed-unit,INVEST_LOSS_RATIO_3-bed-unit,RANK_INVEST_LOSS_3-bed-unit
0,3000,MELBOURNE,MELBOURNE,MELBOURNE-3000-vic,-37.817403,144.956776,inf,337750.0,640,450,...,NaN,NaN,10.944077,9.0,-34507.25,38360,-1508.875,2407.96875,2.895934,3.0
1,3001,MELBOURNE,MELBOURNE,MELBOURNE-3001-vic,0.000000,0.000000,inf,337750.0,640,450,...,NaN,NaN,10.944077,10.0,-34507.25,38360,-1508.875,2407.96875,2.895934,4.0
2,3002,EAST MELBOURNE,EAST-MELBOURNE,EAST-MELBOURNE-3002-vic,-37.818517,144.982207,inf,495000.0,650,435,...,NaN,NaN,0.000000,230.0,-inf,40200,-inf,-inf,NaN,NaN

In [66]:
num_bedroom = 4
property_type = 'house'

cols = [
    'postcode',
    'locality',
    'lat',
    'long',
    '{}-bed-{}-buy'.format(num_bedroom, property_type),
    '{}-bed-{}-rent'.format(num_bedroom, property_type),
    'INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type),
    'INVEST_LOSS_RATIO_{}-bed-{}'.format(num_bedroom, property_type),
    'RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type),   
]

top_n = 200

df_vic_suburb_analysis_short_listed = \
  df_vic_suburb_analysis[df_vic_suburb_analysis_sample['RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type)] <= top_n][cols]\
    .sort_values(by = 'RANK_INVEST_LOSS_{}-bed-{}'.format(num_bedroom, property_type))

In [67]:
# import gmaps
# import gmaps.datasets
# gmaps.configure(api_key="AIzaSyBxGLE8VpZvkC34tv2bMULPOadYIF89ZxQ") # Your Google API key

# df = gmaps.datasets.load_dataset_as_df('earthquakes')
# # dataframe with columns ('latitude', 'longitude', 'magnitude')

# fig = gmaps.figure()
# heatmap_layer = gmaps.heatmap_layer(
#     df[['latitude', 'longitude']], weights=df['magnitude'],
#     max_intensity=30, point_radius=3.0
# )
# fig.add_layer(heatmap_layer)
# fig

In [68]:
df_vic_suburb_analysis_short_listed.head(3)

,postcode,locality,lat,long,4-bed-house-buy,4-bed-house-rent,INVEST_LOSS_4-bed-house,INVEST_LOSS_RATIO_4-bed-house,RANK_INVEST_LOSS_4-bed-house
3338,3943,SORRENTO,-38.345527,144.739101,1450000.0,1450000,4.164770e+07,28722.553879,1.0
1282,3380,STAWELL,-37.066600,142.771159,256500.0,318,3.020312e+02,1.177510,2.0
1243,3377,ARARAT,-37.231524,142.956916,292500.0,350,2.882812e+02,0.985577,3.0

In [72]:
suburb_info = []

for _, row in df_vic_suburb_analysis_short_listed.iterrows():
    if row['lat'] >= -90 and row['lat'] <= 90:
        suburb_info.append({'suburb':row['locality'], 
                            'location':(row['lat'], row['long']),
                            'price':row['{}-bed-house-buy'.format(num_bedroom)],
                            'rent':row['{}-bed-house-rent'.format(num_bedroom)],
                            'rank':row['RANK_INVEST_LOSS_{}-bed-house'.format(num_bedroom)]
                           }
                          )

# nuclear_power_plants = [
#     {'suburb': 'MELBORUNE', 'location': (-37.817403, 144.956776), '2-bed-unit-buy': 500000.0, '3-bed-unit-buy': 700000.0}
# ]

suburb_locations = [suburb['location'] for suburb in suburb_info]
info_box_template = """
<dl>
<dt>Suburb: </dt><dd>{suburb}</dd>
<dt>Price: </dt><dd>{price}</dd>
<dt>Rent: </dt><dd>{rent}</dd>
<dt>Rank: </dt><dd>{rank}</dd>
</dl>
"""
suburb_info = [info_box_template.format(**suburb) for suburb in suburb_info]

marker_layer = gmaps.marker_layer(suburb_locations, info_box_content=suburb_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))